<div class="main-img">
  <div class="container">
    <div class="task-container">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <div class="card bg-white">
            <h1>Daydo | Organizing made simple</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-white">
            <ul>
                <% if user_signed_in? %>
              <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
          </div>
        </div>
      </div>


      <div class="row">
      <div class="col-md-6 col-lg-8">
        <div class="card bg-white">
          <table>
            <tr>
              <th id="priority-cell"><p>Priority</p></th>
              <th id="title-cell"><p>Title</p></th>
              <th id="deadline-cell"><p>Deadline</p></th>
              <th id="comments-cell"><p>Comments</p></th>
              <th id="completed-cell"><p>Done</p></th>
              <th id="trash-cell"><p>Delete</p></th>
            </tr>
            <% @tasks.each do |task| %>
            <tr class="tasks-dashboard" data-task-id='<%= task.id %>'>
              <td><%= task.sort_priority %></td>
              <td><%= link_to task["title"], task_path(task.id) %></td>
              <td><%= task.deadline %></td>
              <td>
                <%#= render 'tasks/show', task: @task, comment: @comment %>
              </td>
              <td>
                <% if task.completed %>
                <i class="fa fa-check-square-o"></i>
                <% else %>
                <i class="fa fa-square-o"></i>
                <% end %>
              </td>
              <td>
                <%= link_to task_path(task.id), method: :delete, remote: true, data: { confirm: "Delete #{task.title}?" } do %>
                <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" id="add-block">
        <div class="card bg-white">
          <%= link_to new_task_path, class: "btn-task" do %>
          <i class="fa fa-plus"></i> Add a new task
        <% end %>
        <%= render 'form', task: @task %>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>








