<div class="main-img">
  <div class="container">
    <div class="task-container">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <div class="row logo-container">
            <div class="logo">
              <%= image_tag "https://res.cloudinary.com/patti01/image/upload/v1562777938/daydo-logo_m5aowx.png", style: 'width:200px;'  %>
            </div>
            <div class="baseline">
              <p>| Organising made simple</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card avatar-box" id="avatar">
            <ul>
                <% if user_signed_in? %>
              <li class="nav-item dropdown">
          <%= image_tag "https://banner2.kisspng.com/20180420/sdw/kisspng-computer-icons-user-profile-login-avatar-description-5ada41a3affa18.5037201115242530917208.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
          </div>
        </div>
      </div>

      <div class="row" id="custom-main">

        <div class="dashboard-left">
            <% @tasks.each do |task| %>
              <div class="row info-group" data-task-id='<%= task.id %>'>
                <div class="display-left">
                  <div class="main-section">
                    <div class="row" id="elements-task">
                      <div class="title-section">
                        <%= link_to task["title"], task_path(task.id) %>
                      </div>
                      <div class="deadline-section">
                        <i class="far fa-calendar-alt"></i>
                        <%= task.deadline %>
                      </div>
                      <div class="priority-section">
                        <%= task.sort_priority %>
                      </div>
                      <div class="checkbox-section">
                        <% if task.completed %>
                          <i class="fas fa-check"></i>
                        <% else %>
                          <i class="far fa-square"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="comments-section">
                  </div>
                </div>
                <div class="edit-btn">
                  <div style="padding-right: 20px">
                    <i class="far fa-edit"></i>
                  </div>
                  <div>
                    <%= link_to task_path(task.id), method: :delete, remote: true, data: { confirm: "Delete #{task.title}?" } do %>
                    <i class="far fa-times-circle"></i>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>


        <div class="dashboard-right">
          <%= link_to new_task_path, class: "btn-task" do %>
          <i class="fa fa-plus"></i> Add a new task
        <% end %>
        <%= render 'form', task: @task %>
        </div>
      </div>


<!--A EFFACER A LA FIN
      <div class="row">
      <div class="col-md-6 col-lg-8">
        <div class="card bg-white">
          <table>
            <tr>
              <th id="priority-cell"><p>Priority</p></th>
              <th id="title-cell"><p>Title</p></th>
              <th id="deadline-cell"><p>Deadline</p></th>
              <th id="comments-cell"><p>Comments</p></th>
              <th id="completed-cell"><p>Done</p></th>
              <th id="trash-cell"><p>Delete</p></th>
            </tr>
            <% @tasks.each do |task| %>
            <tr class="tasks-dashboard" data-task-id='<%= task.id %>' id="task-add">
              <td><%= task.sort_priority %></td>
              <td><%= link_to task["title"], task_path(task.id) %></td>
              <td><%= task.deadline %></td>
              <td>
                <%#= render 'tasks/show', task: @task, comment: @comment %>
              </td>
              <td>
                <% if task.completed %>
                <i class="fa fa-check-square-o"></i>
                <% else %>
                <i class="fa fa-square-o"></i>
                <% end %>
              </td>
              <td>
                <%= link_to task_path(task.id), method: :delete, remote: true, data: { confirm: "Delete #{task.title}?" } do %>
                <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" id="add-block">
        <div class="card bg-white">
          <%= link_to new_task_path, class: "btn-task" do %>
          <i class="fa fa-plus"></i> Add a new task
        <% end %>
        <%= render 'form', task: @task %>
        </div>
      </div>
    </div>-->


    </div>
  </div>
</div>








